<div class="container">
  <h1>Dynamic Charts!</h1>
  <hr>

  <div class="row">
    <div class="col-md-10">
      <app-line-chart></app-line-chart>
    </div>
    
  </div>
  <hr>
  <div class="row">
    <div class="col-md-10">
      <app-bar-chart></app-bar-chart>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-10">
      <app-dona-chart></app-dona-chart>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-10">
      <app-radar-chart></app-radar-chart>
    </div>
  </div>
  <hr>
  
</div>